@charset "UTF-8";
.heder-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: none;
  gap: none;
}

/* навігаційна система */
.menu {
  display: flex;
  align-items: center;
  justify-content: none;
  flex-direction: none;
  gap: 93px;
}

.nav {
  display: flex;
  align-items: none;
  justify-content: none;
  flex-direction: none;
  gap: 50px;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.08px;
}
.nav__link {
  padding: 28px 0px;
  transition-property: color, border;
  transition-timing-function: linear;
  transition-delay: 0;
}
.nav__link:hover {
  color: #2196F3;
  border-bottom: 5px solid #2196F3;
  border-radius: 3px;
}

.logo-link {
  color: #212121;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  margin: 0px;
  line-height: normal;
  letter-spacing: 0.78px;
  text-transform: none;
}
.logo-link .span {
  color: #2196F3;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  margin: 0px;
  line-height: normal;
  letter-spacing: 0.78px;
  text-transform: none;
}

.address {
  display: flex;
  align-items: none;
  justify-content: none;
  flex-direction: none;
  gap: 50px;
}
.address__div-icon-a {
  display: flex;
  align-items: center;
}
.address__a {
  display: block;
  padding: 10px 20px;
  transition-property: color;
  transition-timing-function: linear;
  transition-delay: 0;
}
.address__a:hover {
  color: #2196F3;
}

@media (max-width: 768px) {
  .heder-container {
    gap: 90px;
    justify-content: center;
  }
  .address {
    flex-direction: column;
    gap: 10px;
  }
  .menu {
    gap: 87px;
  }
  .nav {
    gap: 32px;
  }
  .address__a {
    padding: 0px 0px 0px 8px;
  }
}
.img-mobail {
  display: none;
}

@media (max-width: 480px) {
  .address,
  .nav {
    display: none;
  }
  .img-mobail {
    display: block;
  }
  .menu {
    gap: 276px;
  }
}
h4 {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  margin: 0px;
  line-height: 36px;
  letter-spacing: 0px;
  text-transform: none;
}

h5 {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  font-style: none;
  margin: 0px;
  line-height: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

p {
  line-height: 30px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  line-height: 30px;
  letter-spacing: 0.48px;
  text-transform: none;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

@media (max-width: 480px) {
  .container {
    padding: 0px 0px 0px 15px;
  }
}
h1 {
  color: #FFF;
  font-size: 44px;
  font-weight: 900;
  font-style: none;
  margin: 0px;
  line-height: none;
  letter-spacing: none;
  text-transform: uppercase;
}

h2 {
  color: #212121;
  text-align: center;
  line-height: normal;
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  margin: 0px;
  line-height: normal;
  letter-spacing: 11.08px;
  text-transform: none;
}

h3 {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  margin: 0px;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  margin: 0px;
  line-height: normal;
  letter-spacing: 0.28px;
  text-transform: none;
}

a:focus {
  color: #2196F3;
}

.container {
  width: none;
  height: none;
  padding: 0px 15px;
  margin: 0 auto;
}

input {
  width: 358px;
  height: 50px;
  padding: none;
  background-color: rgba(255, 255, 255, 0.1);
}

button {
  padding: 6px 22px;
  border-radius: 4px;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  margin: 0px;
  line-height: 26px;
  letter-spacing: 0.48px;
  text-transform: none;
}

.footer-section1-div-general__address {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-transform: none;
}
.footer-section1-div-general__mail {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-transform: none;
}

@media (max-width: 480px) {
  .footer-section1-div-general__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-section1-div-general {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .footer-section1-div-general__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-section1-div-general {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.h5 {
  color: #FFF;
  padding: 0px 0px 20px 0px;
}

.footer-section2-div-general {
  gap: 20px;
  padding: 15px 0px;
  flex-direction: column;
}
.footer-section2-div-general__socisl-netwotka-img {
  gap: 10px;
  display: flex;
}
.footer-section2-div-general__icon {
  padding: 14px;
  transition-property: none, background-color;
  transition-timing-function: linear;
  transition-delay: 0;
  border-radius: 50%;
}
.footer-section2-div-general__icon:hover {
  background-color: #2196F3;
}

@media (max-width: 480px) {
  .footer-section2-div-general {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .footer-section2-div-general {
    text-align: center;
  }
}
.h5 {
  color: #FFF;
  padding: 0px 0px 20px 0px;
}

.footer-section3-div-general {
  display: flex;
  padding: 0px 0px 10px 0px;
}
.footer-section3-div-general__term-of-entry {
  display: flex;
  align-items: none;
  justify-content: space-between;
  flex-direction: column;
  gap: none;
}
.footer-section3-div-general__button {
  width: 200px;
  height: 50px;
  padding: none;
  text-align: center;
  background-color: #2196F3;
  border-radius: 5px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  font-style: none;
  margin: 0px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-transform: none;
}
.footer-section3-div-general__button:focus:hover {
  animation-name: button2;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes button2 {
  0% {
    background-color: #2196F3;
  }
  100% {
    background-color: #FFF;
  }
}

@media (max-width: 768px) {
  .footer-section3-div-general__input {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .footer-section3-div-general__term-of-entry {
    align-items: center;
  }
}
@media (max-width: 480px) {
  .footer-section3-div-general__term-of-entry {
    display: flex;
    align-items: center;
  }
  .footer-section3-div-general__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: none;
  flex-direction: none;
  gap: 70px;
  background-color: #2F303A;
  width: none;
  height: none;
  padding: 60px 215px;
}

@media (min-width: 481px), (max-width: 768px) {
  footer {
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 60px 0px 0px;
    overflow: hidden;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  footer {
    align-items: center;
    flex-direction: column;
    gap: 60px;
    padding: 60px 0px 0px;
    overflow: hidden;
  }
}
.div-general-section1-main {
  padding: 90px 22px 50px;
  margin: 0 auto;
  gap: 9px;
}
.div-general-section1-main__div-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: none;
  gap: 9px;
}
.div-general-section1-main__button {
  color: #212121;
  border: #FFF;
  transition-property: background-color, color;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}
.div-general-section1-main__button:hover {
  background-color: #2196F3;
  color: #FFF;
}

@media (max-width: 480px) {
  .div-general-section1-main {
    padding: 60px 0px 40px;
    display: flex;
  }
  .div-general-section1-main__div-button {
    flex-wrap: wrap;
    max-width: 326px;
    display: flex;
    justify-content: start;
  }
}
.div-general-section2-main {
  padding: 0px 22px 50px;
  margin: 0 auto;
  gap: 9px;
}

.div-binding-section2-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 30px;
}

.div-card-section2-main {
  border: 1px solid #FFF;
  width: 370px;
  height: 404px;
}
.div-card-section2-main:hover {
  box-shadow: 0px 3px 7px #212121;
}
.div-card-section2-main__description {
  padding: 20px 24px;
  background-color: #FFF;
  border: 1px solid #EEEEEE;
}
.div-card-section2-main__img {
  width: 370px;
  height: 294px;
  padding: none;
  position: relative;
  overflow: hidden;
}
.div-card-section2-main__img::before {
  content: "";
  width: 100%;
  height: 100%;
  padding: none;
  position: absolute;
  background-image: url(/img/Property.1=Frame2\ .1.png);
  transform: translate(0, 100%);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.div-card-section2-main__img:hover::before {
  transform: translate(0, 0);
}

@media (max-width: 480px) {
  .div-binding-section2-main {
    display: flex;
    justify-content: center;
  }
  .div-card-section2-main__description {
    width: 320px;
  }
  .section2 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .div-binding-section2-main {
    display: flex;
    flex-wrap: wrap;
  }
  .section2 {
    display: flex;
    flex-direction: column;
  }
  .div-card-section2-main__description {
    width: 303px;
  }
  .div-general-section2-main {
    padding: 0px 0px 50px;
  }
  .div-card-section2-main__img {
    width: 354px;
    height: 294px;
  }
  .div-card-section2-main {
    width: 350px;
  }
}