@import '../colors';

.footer-section1-div-general {
    &__address {
        color: map-get($colors, 'color-h1-address');
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
    }
    
    &__mail {
        color: map-get($colors, 'color-footer-text');
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
    }
}