@import '../components/colors';
@import '../components/utils/mixins';

.heder-container {
    @include flex(flex, center, space-between, none, none);
}

/* навігаційна система */

.menu {
    @include flex(flex, center, none, none, 93px);
}

.nav {
    @include flex(flex, none, none, none, 50px);
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.08px;

    &__link {
        padding: 28px 0px;
        transition-property: color, border;
        transition-timing-function: linear;
        transition-delay: 0;

        &:hover {
            color: map-get($colors, 'color-a-button');
            border-bottom: 5px solid map-get($colors, 'color-a-button');
            border-radius: 3px;
        }
    }
}



.logo-link {
    @include stilyText('color-standart-text', 26px, 700, normal, normal, 0.78px, none);

    .span {
        @include stilyText('color-a-button', 26px, 700, normal, normal, 0.78px, none);
    }
}

.address {
    @include flex(flex, none, none, none, 50px);

    &__div-icon-a {
        display: flex;
        align-items: center;
    }

    &__a {
        display: block;
        padding: 10px 20px;
        transition-property: color;
        transition-timing-function: linear;
        transition-delay: 0;

        &:hover {
            color: map-get($colors, 'color-a-button');
        }
    }
}

@media (max-width: 768px) {
    .heder-container {
        gap: 90px;
        justify-content: center;
    }

    .address {
        flex-direction: column;
        gap: 10px;
    }

    .menu {
        gap: 87px;
    }

    .nav {
        gap: 32px;
    }

    .address__a {
        padding: 0px 0px 0px 8px;
    }
}

.img-mobail {
    display: none;
}

@media (max-width: 480px) {

    .address,
    .nav {
        display: none;
    }

    .img-mobail {
        display: block;
    }

    .menu {
        gap: 276px;
    }
}