@import '../colors';

.example {
    padding: 94px 0px;

    &__div-content {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
        padding: 50px 0px 0px;
    }

    &__content {
        position: relative;
    }

   &__content-namber1 {
        position: absolute;
        bottom: 3px;
        padding: 27px 107px;
        font-size: 14px;
        color: map-get($colors, 'color-h1-address');
        background-image: url(/img/bg.png);
    }

    &__content-namber2 {
        position: absolute;
        bottom: 3px;
        padding: 27px 113px;
        font-size: 14px;
        color: map-get($colors, 'color-h1-address');
        background-image: url(/img/bg.png);
    }
    
    &__content-namber3 {
        position: absolute;
        bottom: 3px;
        padding: 27px 94px;
        font-size: 14px;
        color: map-get($colors, 'color-h1-address');
        background-image: url(/img/bg.png);
    }
}