.div-header-general {

    &__link {
        background-color: white;
        border: 0px;
    }

    &__link:focus > .icon-Vector-18:focus {
        color: #2196F3;
    }

    .div-header-general__link2 {
        display: flex;
        justify-content: end;
    }

    .h4 {
        width: 374px;
        text-align: center;
    }
}