@import '../colors';
@import '../utils/mixins';

.div-general-section2-main {
    padding: 0px 22px 50px;
    margin: 0 auto;
    gap: 9px;
}

.div-binding-section2-main {
    display: grid;
    grid-template-columns:
        repeat(3, 1fr);
    grid-template-rows:
        repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 30px;
}

.div-card-section2-main {
    border: 1px solid map-get($colors, 'color-h1-address');
    width: 370px;
    height: 404px;

    &:hover {
        box-shadow: 0px 3px 7px map-get($colors, 'color-standart-text');
    }

    &__description {
        padding: 20px 24px;
        background-color: map-get($colors, 'color-h1-address');
        border: 1px solid #EEEEEE
    }

    &__img {
        @include dimensions(370px, 294px, none);
        position: relative;
        overflow: hidden;
    }

    &__img::before {
        content: '';
        @include dimensions(100%, 100%, none);
        position: absolute;
        background-image: url(/img/Property.1=Frame2\ .1.png);
        transform: translate(0, 100%);
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__img:hover::before {
        transform: translate(0, 0);
    }
}

@media (max-width: 480px) {
    .div-binding-section2-main {
        display: flex;
        justify-content: center;
    }

    .div-card-section2-main__description {
        width: 320px;
    }

    .section2 {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .div-binding-section2-main {
        display: flex;
        flex-wrap: wrap;
    }

    .section2 {
        display: flex;
        flex-direction: column;
    }

    .div-card-section2-main__description {
        width: 303px;
    }

    .div-general-section2-main {
        padding: 0px 0px 50px;
    }

    .div-card-section2-main__img {
        width: 354px;
        height: 294px;
    }

    .div-card-section2-main {
        width: 350px;
    }
}